@import '../../styles/variables';

.title {
  text-align: center;
  & h1{
      font-size: 2rem;
      font-weight: bold;
      color: $blue3;
  }
  & h6{
    color: $gray4;
    font-weight: 500;
  }
}

.container{
  background-color: $gray1;
}

