.containerCard {
  @media screen and (min-width: 728px) {
    grid-template-columns:  repeat(3, minmax(0, 1fr));
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns:  repeat(4, minmax(0, 1fr));
  }

  display: grid;
  gap: 3rem;
  padding: 2.5rem 3rem 5rem 3rem;
  justify-content: center;
}

.categoriaTitulo {
  display: flex;
  align-items: center;
  word-spacing: 5px;
  margin: 40px 0px 0px 40px;
  font-size: 16px;
  font-weight: 600;
}
