@import '../../styles/variables';

.btnProduto,.btnProduto:hover,.btnProduto:active{
  background-color: $blue2!important;
  color: white!important;
}

.botao {
  margin-top: 15px;
  padding-top: 10px;
  height: 50px;
  transition: all 0.2s ease-in-out;
}
.botao:hover {
  transform: scale(1.1);
}
