@import '../../styles/variables';

.btnProduto{
  background-color: $blue2;
  color: white;
}

.btnProduto:hover,.btnProduto:active{
  background-color: $mediumBlue1;
  color: white;
}

.botao {
  margin-top: 15px;
  padding-top: 10px;
  height: 50px;
  transition: all 0.2s ease-in-out;
}
.botao:hover {
  transform: scale(1.1);
}
