@import '../../styles/variables';

.navAdmin {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
  color: #202020;
  border-bottom: #86b6c6 3px solid;
  padding: 10px 20px;
}

.header {
  display: flex;
  gap: 12px;
}

.header a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
