$white: #ffff;
$black: #0000;
$gray1: #ededed;
$gray2: #E7E7E7;
$gray3: #F0F0F0;
$gray4: #7C7C8A;
$gray5: #828388;
$gray6: #585858;
$lightBlue1: #f0fcfe;
$lightBlue2: #b7d9e2;
$blue1: #86b6c6;
$blue2: #5c93aa;
$blue3: #639895;
$mediumBlue1: #3a728e;
$darkBlue1: #0c3756;
$darkBlue2: #1f5372;

