.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2%;
}

.cardTitle {
  padding-top: 5%;
  padding-left: 15%;
  font-weight: 500;
  font-size: 18px;
}

.mainContainer {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.main {
  width: 70vw;
  height: 70vh;
  background-color: #b7d9e2;
  border-radius: 20px;
}

.mainText {
  position: relative;

  width: 30vw;
  font-size: 38px;
}

//.mainFoto {}

.contato {
  display: flex;
  height: 30vh;
  background-color: #f5f5f5;
  gap: 20%;
  padding: 10% 3%;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.contato h1 {
  font-size: 28px;
}

.Footer {
  width: 100vw;
  height: 30vh;
}

.contatoText {
  width: 30vw;
  height: 30vh;
}

.contatoText p {
  width: 28vw;
}

.btnContato {
  margin-top: 3%;
  width: 50%;
  height: 20%;
  border-radius: 15px;
  color: black;
  word-spacing: 2px;
}

.contatoInfo {
  width: 30vw;
  height: 30vh;
}

.contatoInfo p {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 35px;
}
