@import '../../styles/variables';

.baseFooter {
  height: 20vh;
  background-color:$darkBlue1;
  bottom: 0;
  position: relative;
}

.detailFooter a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
